/* Start Screen Responsive */

/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Big Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Screen Responsive */

.container {
  padding: 0;
  margin: 0 auto;
}

// ======== Start Global Rules ==========
* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Gilroy", sans-serif;
}

input,
textarea {
  outline: none;
}
h1 {
  font-weight: 800;
}

button {
  width: 100%;
  color: #fff;
  border: solid 4px #26a29a;
  padding: 20px 0;
  cursor: pointer;
  background-color: #26a29a;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: #fff;
    color: #000;
  }
}
